[Unit]
Description=OpenRefine
After=network.target
Documentation=https://openrefine.org/

[Service]
WorkingDirectory={{ openrefine_base_dir }}
User={{ openrefine_user }}
Group={{ openrefine_user }}
ExecStart={{ openrefine_base_dir }}/refine
NoNewPrivileges=yes
Type=simple
TimeoutStopSec=3600s
Restart=on-failure
RestartSec=10
SuccessExitStatus=143
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
